*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
    text-align: left;
    text-transform: uppercase;
}
:root{
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);

    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}
.container{
    width: 100%;
    height: 100vh;
    background-color: var(--Off-white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 90vh;
    height: 500px;
    padding: 2rem;
    background-color: var(--White);
    border-radius: 1.75rem 1.75rem 10.75rem 1.75rem;
}
.inline{
    display: flex;
    justify-content: left;
    gap: 2rem;
}
.inline > div{
    display: flex;
    flex-direction: column;
}
.inline > div > label{
    color: var(--Smokey-grey);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.75rem;
}
.numeric-input{
    width: 15vh;
    height: 50px;
    padding: 0.5rem;
    margin:  0.75rem 0.75rem 0.75rem 0;
    border: 1px solid var(--Smokey-grey);
    color: var(--Smokey-grey);
    border-radius: 0.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.15rem;
}
.error{
    border-color: var(--Light-red);
    color: var(--Light-red);
}
.calc-age{
    width: 100%;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
hr{
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2rem 0;
    padding: 0;
    top: 35%;
}
button{
    position: absolute;
    top: 31%;
    width: 60px;
    height: 60px;
    background-color: var(--Purple);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.purple{
    color: var(--Purple);
}
.error-msg{
    color: var(--Light-red);
    font-size: 0.75rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: capitalize;
}
.italic{
    font-style: italic;
}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
}
@media only screen and (max-width:500px){
    .main{
        width: min(500px,100%);
        height: 500px;
        padding: 2rem;
        background-color: var(--White);
        border-radius: 1.75rem 1.75rem 10.75rem 1.75rem;
    }
    .inline > div > input{
        width: 65px;
       
    }
    .calc-age{
        width: 100%;
        display:flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  